@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans transition-colors duration-300 bg-brand-light dark:bg-brand-dark text-zinc-900 dark:text-white;
}

/* Seiten-Fade Transition */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

/* Apple-like animated glow */
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

.animate-glow-border {
    --border-width: 4px;
    --border-radius: 1.5rem;

    padding: var(--border-width);
    border-radius: var(--border-radius);
    background: conic-gradient(from var(--gradient-angle), #3b82f6, #9333ea, #f43f5e, #3b82f6);
    animation: rotate 5s linear infinite;
}

.glow-inner {
    border-radius: calc(var(--border-radius) - var(--border-width));
    background-color: white;
    @apply dark:bg-zinc-950 w-full h-full;
}

/*
Alles hier oben Bleibt!
 */

.stat-card-outer {
    position: relative;
    border-radius: 1.5rem;
    transition: box-shadow 0.35s cubic-bezier(.34,1.56,.64,1);
}

.stat-card-inner {
    border-radius: 1.4rem;
    background: #fff;   /* oder: #f4f4f5 für leichtes Grau */
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

@media (prefers-color-scheme: dark) {
    .stat-card-inner {
        background: #18181b; /* dunkles Grau */
    }
}

.stat-card-outer::after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 2rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(.34,1.56,.64,1);
    z-index: 0;
    background: conic-gradient(
            from var(--gradient-angle, 0deg),
            #ffd97c 0%,   /* Peach */
            #fcb0ff 60%,  /* Soft Lila/Rosa */
            #ffd97c 100%  /* Peach */
    );
    filter: blur(14px) saturate(1.14);
    animation: rotate 6s linear infinite;
}
.stat-card-outer:hover::after {
    opacity: 0.5;
}

@keyframes fade-in-out {
    0% { opacity: 0; transform: translateY(-16px);}
    10% { opacity: 1; transform: translateY(0);}
    90% { opacity: 1; transform: translateY(0);}
    100% { opacity: 0; transform: translateY(-16px);}
}
.animate-fade-in-out {
    animation: fade-in-out 2.2s cubic-bezier(0.39, 0.58, 0.57, 1) both;
}